
    .colorAzul{
        color: blueviolet;
    }
    .ColorCafe{
        color: brown f;
    }
    .Parrafo{
        color: rgb(182, 39, 201);
        font-size: 16px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    p{
        font-size: 32px;
       
    }
    .lsita{
        color: rgb(161, 41, 101);
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 16px;
    }
    h1{
        color: rgb(49, 101, 146);
    }
        
